{% extends 'index.html' %} {% block content %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">ГОСТ Р 34.10-94</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">ЭЦП Elgamal</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Исходный текст</label>
                    <textarea class="form-control" rows="4" id="lab10_1_mes"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">r mod 2^256</label>
                        <textarea class="form-control" rows="1" disabled id="lab10_1_1"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">s mod 2^256</label>
                        <textarea class="form-control" rows="1" disabled id="lab10_1_2"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">u</label>
                        <textarea class="form-control" rows="1" disabled id="lab10_1_3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">итог</label>
                        <textarea class="form-control" rows="1" disabled id="lab10_1_4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <label for="exampleInputEmail1" class="form-label">p</label>
                <input type="email" class="form-control" id="lab10_1_p" aria-describedby="emailHelp" value="31">
            </div>
            <div class="col-md-1">
                <label for="exampleInputEmail1" class="form-label">q</label>
                <input type="email" class="form-control" id="lab10_1_q" aria-describedby="emailHelp" value="5">
            </div>
            <div class="col-md-1">
                <label for="exampleInputEmail1" class="form-label">a</label>
                <input type="email" class="form-control" id="lab10_1_a" aria-describedby="emailHelp" value="2">
            </div>
            <div class="col-md-1">
                <label for="exampleInputEmail1" class="form-label">x</label>
                <input type="email" class="form-control" id="lab10_1_x" aria-describedby="emailHelp" value="3">
            </div>
            <div class="col-md-1">
                <label for="exampleInputEmail1" class="form-label">k</label>
                <input type="email" class="form-control" id="lab10_1_k" aria-describedby="emailHelp" value="4">
            </div>
        </div>
        <br>
        <button type="button" id='lab10_1' class="btn btn-outline-dark btn-md">Зашифровать</button>

    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Исходный текст</label>
                    <textarea class="form-control" rows="4" id='lab9_2_mes'></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Зашифрованный текст</label>
                    <textarea class="form-control" id="lab9_2_enc" rows="1" disabled></textarea>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Расшифрованный текст</label>
                        <textarea class="form-control" id="lab9_2_dec" rows="1" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <label for="exampleInputEmail1" class="form-label">ключ</label>
                <input type="email" class="form-control" id="lab9_2_key" aria-describedby="emailHelp">
            </div>
        </div>
        <br>
        <br>
        <button type="button" id='lab9_2' class="btn btn-outline-dark btn-md">Зашифровать</button>
    </div>



</div>
{% endblock %}